
a * {
  color: #000 !important;
}

svg {
  stroke: red !important;
  /* fill: red !important; */
}

.snipcart__box--badge-highlight {
  background: linear-gradient(90deg, firebrick, red) !important;
}

div.snipcart {
  background: #f4f4f4 !important;
}

.snipcart-layout__cols {
  background: #000 !important;
}

.snipcart-cart-header {
  background: #000 !important;
}

.snipcart-checkout {
  background: #000 !important;
}

.snipcart-modal__close-title, 
.snipcart-modal__close {
  color: #000 !important;
}

.snipcart-cart__secondary-header {
  background: #000 !important;
  color: #0a0a0a !important;
}

.snipcart-cart-header__title {
  color: #0a0a0a !important;
}

.snipcart-item-line__image {
  width: 50px !important;
}

.snipcart__button--icon {
  border: #f4f4f4 !important;
}

.snipcart-layout {
  background: #f4f4f4 !important;
  height: 10% !important;
}

.snipcart-layout__content {
  background: #000 !important;
}

#card-number {
  color: #0a0a0a !important;
}

.snipcart-modal {
  margin: 50px auto !important;
  background: #000 !important;
}

.snipcart-modal__container {
  background: #000 !important;
}

.snipcart-form__label {
  color: #000 !important;
}

.snipcart-item-quantity__label {
  color: #0a0a0a !important;
}

.snipcart-item-quantity__total-price {
  color: #0a0a0a !important;
}

.snipcart-cart__content {
  background: #000 !important;
}

.snipcart-cart-summary-fees__item {
  color: #000 !important;
}

.snipcart-cart-button {
  background-image: linear-gradient(90deg, firebrick, red) !important;
  color: #0a0a0a !important;
}
.snipcart-cart-summary__content span {
  color: #000 !important;
}

.snipcart-cart__footer {
  background: #000 !important;
  color: #f4f4f4 !important;
}

.snipcart-featured-payment-methods__title  {
  color: #f4f4f4 !important;
  background: #000 !important;
}


header span {
  color: #fafafa !important;
}

.snipcart__actions--link {
  color: red !important;
}

.snipcart-form-radio__label:before {
  color: white !important;
  background: white !important;
}

.snipcart-form-radio__label::after {
  color: red !important;
  background: red !important;
  border-radius: 50% !important;
}

.snipcart-shipping-rates-list-item--highlight {
  border: 1px solid #333 !important;
}